body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MAIN */
main {
    margin: 3vh auto;
    width: 40%;
    background-color: rgba(252, 252, 252, 0.686);
    color: rgb(10, 10, 10);
    text-align: center;
    font-variant: small-caps;
    padding: 5%;
}

main a {
    color: rgba(174, 35, 35, 0.607);
    text-decoration: none;
}

main p {
    padding: 3%;
}

.hours {
    margin-bottom: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 850px) {
    body {
        height: 100vh;
    }
    main {
        width: 60%;
    }
}

@media screen and (min-width: 1150px) {
    main p {
        font-size: 1.5rem;
    }
}
