main {
  padding: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.repasun,
.repasdeux,
.newsletter {
  background-color: rgba(252, 252, 252, 0.686);;
  border: 1px solid black;
  padding: 3%;
  margin: 2% auto;
  width: 70%;
}

.texte {
  background-color: rgb(252, 252, 252);;
  padding: 1%;
  margin: 1%;
}

.newsletter p,
.newsletter input {
  padding: 1%;
  margin: 1%;
}

.spam {
  font-size: 0.7em;
  font-style: italic;
}

.image {
  margin-bottom: 5%;
}

.repas a {
  text-decoration: none;
}

.texte {
  padding: 3%;
}

.texte button {
  margin-bottom: 5%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2%;
}

.priceTxt {
  margin: 0;
}

.euroSign {
  width: 1.5rem;
}

.newsletter button {
  margin-top: 5%;
}

.repas button:hover {
  background-color: rgba(255, 0, 0, 0.486);
}

.newsletter button:hover,
.repas button:hover {
  cursor: pointer;
}

form input {
  text-align: center;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .image {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .repasun,
  .repasdeux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 2% 0;
  }

  .image {
    width: 150px;
  }

  .newsletter {
    width: auto;
    margin: 2% 0;
  }
}

@media screen and (max-width: 450px) {
  .image {
    width: 100px;
  }
}